[2019-11-21 16:44] ProfFan opened #1 "Thoughts on Differentiable Swift"
Differentiable Swift is great.

Though not problem-free for implementing FGs.

[2019-11-21 16:46] ProfFan commented on #1
Q: The TangentVector types are actually arbitrary/composed by sub-TangentVectors. How should we implement arithmetic operations on them? For example, for implementing SGD, etc.

[2020-03-24 19:58] #1 closed

[2020-03-27 16:30] ProfFan opened #6 "Implementation of Gauss-Newton and/or CGLS"
As discussed with @dellaert, we need to do a TDD-based implementation of Gauss-Newton and Conjugate-Gradient-Least-Squares to assist the design of the library.

[2020-03-28 04:19] ProfFan opened #7 "Status of Forward Mode AutoDiff and Jacobian-Vector Product (JVP)"
Currently in my experiments with `differential(of: f)` the following error is thrown:
[code]
I looked on bugs.swift.org and I believe forward mode autodiff is not working yet. Need confirmation.

[2020-03-28 05:12] marcrasi commented on #7
Yup, forward mode autodiff is mostly unsupported now. There is a partial implementation that you can enable with `-enable-experimental-forward-mode-differentiation`. (If you're compiling using swiftpm commands, `-Xswiftc -enable-experimental-forward-mode-differentiation`.) I haven't followed it's status very closely, but I think it supports simple functions without control flow (maybe control flow

[2020-03-28 05:47] ProfFan commented on #7
@marcrasi Thank you for the info Marc :) With that flag it still fails, however the (simple) unit test taken from the s4tf main repo works...

What fails:
[code]

What works:

[code]

[2020-03-28 05:49] ProfFan commented on #7
@marcrasi BTW, it would always be nice if we can get some "insider information" on this :)

[2020-03-29 17:32] ProfFan opened #8 "Derivative is not consistent with GTSAM"
I have added a test to compare the Jacobian generated by the autodiff system and GTSAM, and they do not match. I am still investigating why this is happening.

Sample:

For Pose2, expected is a 3x2 matrix, values in Pose2's tangent space

In GTSAM, it corresponds to
[code]
In current SwiftFusion, it is
[code]
[code]
In current SwiftFusion, it is
[code]

[2020-03-29 18:19] dellaert commented on #8
One big choice to be made is whether manifolds are updated at left, or
right (globa, or local, for geometric groups). In GTSAM, it’s a local
update, corresponding to multiplication with delta at right.
Frank

On Sun, Mar 29, 2020 at 1:33 PM Fan Jiang <notifications@github.com> wrote:

--
Best !
Frank Dellaert
http://frank.dellaert.com

[2020-03-30 16:40] marcrasi opened #9 "Milestone: Pose2SLAM works in SwiftFusion"
A simple milestone for this project is to get something like https://github.com/borglab/gtsam/blob/develop/cython/gtsam/tests/test_Pose2SLAMExample.py working.

Prerequisites:
* #11: Simple Factor Graph API
* #6: Implementation of Gauss-Newton and/or CGLS
* #12: BetweenPose2 Factor

[2020-03-30 16:41] marcrasi opened #10 "Create some Colab notebooks that demonstrate SwiftFusion"

[2020-03-30 16:42] marcrasi opened #11 "Simple Factor Graph API"
Add an API that lets you instantiate factors and add them to a graph.

[2020-03-30 16:43] marcrasi opened #12 "BetweenPose2 Factor"
We could define a simple Factor interface while doing this issue, or we could define the Factor interface while doing #11. Of course, the interface might change and improve later when we learn more.

[2020-03-30 16:49] marcrasi commented on #6
The factor graph defines an objective function for the optimizer, right? Is having a factor graph API (#11) a prerequisite for this? Or is there some other way you want to define the objective function so that the optimizer doesn't depend on the factor graph API?

[2020-03-30 16:51] marcrasi commented on #10
I'm going to work on this one first, and send some PRs for some example notebooks as I create them. I don't have permissions in this repo to assign issues, so this comment will be my self-assignment for now :)

[2020-03-30 17:12] dellaert commented on #6
Indeed. A factor is a pair of a (differentiable) measurement function and a measurement, and I think we need that API in place first. This can be very lightweight, BTW. In C++ it is just a vector of instances derived from "Factor".

[2020-03-30 17:45] ProfFan commented on #10
@dellaert I think I do not have the admin rights to this repo after the move, so you need to add Marc :)

[2020-03-30 17:48] dellaert commented on #10
Done

[2020-03-30 17:49] marcrasi commented on #10
Thanks!

[2020-03-30 17:49] ProfFan commented on #8
@dellaert Yeah I know that, but I have already checked with current GTSAM and the implementation all match, except that the derivative of Pose2 is automatically derived as a vJP...

[2020-03-30 17:51] dellaert commented on #8
Might want to do a numerical derivative check here, making sure we increment on right. PS just finishing some slides on this stuff for 3630, might share here as well.

[2020-03-30 17:55] ProfFan opened #13 "Unified Jacobian Protocol that can handle both complex and primitive types"
I always find this quite annoying when implementing generic stuff related to `TangentVector`:

In JacobianProtocol you will find out that I am using different generics for `Double` and non-`Double` types, and I tried to make it more generic by introducing the `JacobianEvaluatable` protocol. However, the `basisVectors()` method only works for tangent types that is complex, so the current implementa

[2020-03-30 18:03] dellaert commented on #13
Can you make the TangentType 1D vectors?

[2020-03-30 18:15] ProfFan commented on #13
@dellaert Currently all the tangents are expressed as structs synthesized by the compiler, except Rot2 which is defined explicitly in the definition as `Double`. I will try `[Double]` and associated structs and report the results.

It would be very intuitive if we can express all the tangents in terms of vectors, but that is another issue-we currently do not have a working "small matrix" library i

[2020-03-30 18:54] dan-zheng commented on #7
Forward-mode differentiation is tested in [`forward_mode_runtime.swift`](https://github.com/apple/swift/blob/9c4212a49b483f455bcd1caf4de6f2ef12a5ad54/test/AutoDiff/downstream/forward_mode_runtime.swift), so you can see that file to get a sense of what's supported.

Some more details:
- Forward-mode automatic differentiation doesn't support control flow or `inout` parameter differentiation yet.
- F

[2020-03-30 19:26] marcrasi commented on #13
re "small matrix": How does https://developer.apple.com/documentation/accelerate/simd look to you? Unfortunately it only exists on macos. (Maybe it'll come to linux eventually, possibly with a different API? I've asked, I'll let you know if I get a response.) We could write a wrapper around it and provide a different implementation on linux, and then swap out the implementation if/when simd comes

[2020-03-30 20:03] dellaert commented on #9
All, you can find an intro lecture to Pose2SLAM [here](https://gtvault-my.sharepoint.com/:p:/g/personal/fd27_gatech_edu/EQCNT0ZuBRtMlvIVhPoXjVgB4UadpCgaujHyqXyc0kyGXQ?e=PAg0sf). Please forgive my nasal voice: I am suffering from Atlanta pollen !

[2020-03-30 20:31] dellaert commented on #13
Can't we use tensorflow math?

[2020-03-30 20:40] marcrasi commented on #13
Yeah, tensorflow math would be a good way to start too, and I think it's probably the easiest thing to use in the short term. It already has a lot of linear algebra that we can use.

I would suggest wrapping all calls to it so that it's easy to swap it out when we have time to get something that works better. Wrapping would also allow you to have statically-ranked or statically-shaped types like `

[2020-03-30 23:48] ProfFan commented on #13
@marcrasi Thanks a lot! We are basically on the same track, though I never realized that we can use `extension` to get conformance 😄

[2020-03-31 00:59] ProfFan commented on #13
Also, @marcrasi please feel free to add a PR, I tried to add the `extension`s but it was not working for me...

[2020-03-31 05:22] marcrasi commented on #13
I discovered a bug in Swift AutoDiff while working on this: https://bugs.swift.org/browse/TF-1227. That may be why you were having trouble.

In the meantime, I figured out a workaround that is slightly more complicated but that seems okay. I'll send a PR for that.

[2020-03-31 14:53] #13 closed

[2020-03-31 20:42] marcrasi commented on #8
The jacobians coming out of SwiftFusion seem right to me from my understanding of the types. For example:
[code]
because the pose `a` starts out rotated by 90 degrees and so moving `b` in the `+x` direction decreases the `y` component of the translation required to get from `a` to `b`. This corresponds to the first column of the jacobian matrix.

I'm also interested in writing a function that does

[2020-03-31 20:46] dellaert commented on #8
Maybe :-)
I suggest reading
https://github.com/borglab/gtsam/blob/develop/doc/LieGroups.pdf
and
https://github.com/borglab/gtsam/blob/develop/doc/math.pdf
we really should try to get the same conventions as GTSAM if we want to maintain sanity.

[2020-03-31 22:37] ProfFan commented on #11
As a side note, I am thinking about factor graphs that actually have a repetitive (sub-graph) structure, for example the FG for dynamics, which is a great point for parallelization and such. This has been in my list of todos for quite a while.

[2020-04-01 21:15] marcrasi commented on #8
Thanks for those links, they're very helpful! I spent some time reading them (not all of them yet, they're pretty big and dense :)) and I think I now understand what's going on and what you
meant above by:

right (globa, or local, for geometric groups). In GTSAM, it’s a local
update, corresponding to multiplication with delta at right.

And I agree with:

If I understand correctly, we should be ab

[2020-04-02 01:35] dellaert commented on #8
Definitely, on latter point. Btw GTSAM we have headers “Manifold.h” -> “Lie.h” -> “VectorSpace.h” that provide increasing structure. And there is also “Group.h”. Lie = Group + Manifold.

[2020-04-02 02:59] dellaert commented on #11
Gravy, for (much) later

[2020-04-02 05:23] marcrasi opened #17 "Vector types"
It would be nice to have some `Vector2`, `Vector3`, etc types.

We can set their tangent spaces equal to themselves.

We can replace `Point2` with the `Vector2` type.

[2020-04-02 05:25] marcrasi opened #18 "jacobians of functions with multiple arguments"
We could easily define jacobians for functions with multiple arities, eg:
[code]

[2020-04-03 14:42] #17 closed

[2020-04-03 15:58] dellaert opened #21 "Adjoint and adjoint"
So, referring to the [the wikipedia page](https://en.wikipedia.org/wiki/Adjoint_representation#Adjoint_representation_of_a_Lie_algebra) on this for a quick read, there are two operators, respectively associated with the Lie group and Lie algebra. For example, for SO(3), we have

1. Ad_R X = R X R^-1 where X is skew-symmetric matrix in so(3)
2. ad_X Y = [X,Y] where both X and Y are skew-symmetric m

[2020-04-03 17:35] marcrasi commented on #21
Thanks for the explanation!

For API style, I try to follow https://swift.org/documentation/api-design-guidelines/. Under "Use Terminology Well" it does allow widely precedented terms in specific domains to outweigh other guidelines. However, `lowerCamelCase` for function names is a pretty strong guideline and I've never seen anything else violating it. So I'd prefer not having a method that start

[2020-04-03 18:02] marcrasi opened #22 "inverse: top-level function or method?"
Is there a strong reason to have `inverse: Rot2 -> Rot2` and `inverse: Pose2 -> Pose2` being top-level functions?

If not, I'd like to change them to methods on `Rot2` and `Pose2` because that's more standard Swift API style (https://swift.org/documentation/api-design-guidelines/#general-conventions => "Prefer methods and properties to free functions.")

A practical motivation is that Swift overlo

[2020-04-03 19:10] ProfFan commented on #22
I agree :)

[2020-04-03 19:48] dellaert commented on #21
why was it misleading?

[2020-04-03 19:57] ProfFan commented on #21
*only at first sight

[2020-04-03 20:15] marcrasi commented on #21
I'd be happy to have it this way if you think it really is justified by the widely precedented use and if you think it's the clearest way to write it.

[2020-04-03 20:33] dellaert commented on #21
yay :-)

[2020-04-03 20:41] dellaert commented on #11
Goals for a PR: create Pose2SLAM example as a NonlinearFactorGraph, evaluate error.

[2020-04-03 21:40] #8 closed

[2020-04-03 22:14] #22 closed

[2020-04-06 19:20] ProfFan commented on #10
I'll put my previous notebook here:
https://colab.research.google.com/drive/1wdcqpf19MPHhjZx_F4uaZMcWGilCCNjn

[2020-04-09 03:26] marcrasi opened #28 "LeastSquaresObjective: decoupling the CGLS optimizer from the factor graph representation"
I have been thinking about @dellaert's comments during our last chat that CGLS is particularly suited to SwiftFusion because CGLS only needs the JVP and VJP. CGLS does not need to know anything about the internals of the factor graph as long as the factor graph can (efficiently) produce JVP and VJPs.

It would be good to encode this idea in an interface, so that we can code CGLS once against this

[2020-04-09 04:01] dellaert commented on #28
I'll take a detailed look in the morning ;-)

[2020-04-09 04:10] ProfFan commented on #28
This is great idea! As we have discussed in the meeting, I am trying to make a skeleton implementation in #23. I kind of struggled a lot to get all the protocol conformances work, but this is definitely a great way to go. I'll think about this tonight and see if I can come up with something tomorrow.

On the assumption that we only need the Jacobian, yes, that is true for CGLS, and if I was not wr

[2020-04-09 18:10] dellaert commented on #28
I just read through this, and it all sounds reasonable, *but* I don't know why we have to think about this now. I'm actually pretty bad in anticipating what an interface should look like before it is needed. My preferred way of making headway towards that is to be test-driven, and when we add a second optimizer, see what abstraction that imposes... In a way, the added uni tests "atomize" the inter

[2020-04-09 19:10] marcrasi commented on #28
Perhaps we are both trying to get at the same thing, but we have different ways of thinking about it. I was trying to figure out what kinds of operations a factor graph needs to support, so that I can start thinking about how to write them.

I did this by writing a generic interface, not because I wanted to start out by writing super general algorithms, but because it's a way to talk about what th

[2020-04-09 19:18] dellaert commented on #28
Yep, indeed. But I think Fan is writing the unit test for CGLS, so CGLS will ask for particular things, like vjp and jvp, maybe other things as well. I’ve asked him to speed things along a bit, see my review of his PR where I added more comments about the need to be generic (or not) at this time.

Note Values above should be able to have 1M things in it, all of different type (I know you know and

[2020-04-09 20:14] marcrasi commented on #11
Based on our discussion and more thinking, I'm ready to try another factor graph API strawperson suggestion!

Here it is, in unit test style:

[code]

I feel like that's mostly just restating what you've been telling me all along, but it helps me understand :)

What are your thoughts about this API, @dellaert and @ProfFan ? If you think it's a good starting point, I could start sending some PRs im

[2020-04-15 18:39] ProfFan opened #30 "Type-erased wrapper for differentiable `Value` (a.k.a. `AnyDifferentiable`)"
I think @marcrasi has mentioned this in an issue, and I encountered this problem in prototyping the nonlinear factor graph API as well.

[2020-04-15 18:41] ProfFan opened #31 "Golden-section search for NLCG"
NLCG currently uses a naive for loop and only searches in `[0, 1]`. We need to implement golden section search, just like GTSAM.

[2020-04-15 18:42] ProfFan commented on #30
#9

[2020-04-15 18:43] ProfFan commented on #12
#9

[2020-04-15 20:24] marcrasi commented on #30
This should happen in the 0.9 release of S4TF. That's a few weeks away, so I can import the code into this repo in the meantime.

[2020-04-15 21:56] #30 closed

[2020-04-22 05:59] ProfFan commented on #31
Closed by #32

[2020-04-22 05:59] #31 closed

[2020-04-22 16:44] ProfFan opened #35 "Compiler crasher"
Discovered while trying to use SwiftFusion to do some robot manipulation:

The following snippet will crash the compiler:
[code]

Logs:

[code]

@marcrasi Any idea what is behind this?

[2020-04-23 23:36] marcrasi commented on #35
I can reproduce this. It has something to do with `class` support. Can you use `struct` instead of `class`?

I'll create a smaller reproducer and file a bug in Swift JIRA.

[2020-04-23 23:50] marcrasi commented on #35
Ok, I filed https://bugs.swift.org/browse/TF-1259. I'll close this issue.

Let me know if you actually need `class` and I can prioritize the fix. I'd recommend sticking to `struct` for now though, because `class` differentiation is a lot less stable.

[2020-04-23 23:50] #35 closed

[2020-04-23 23:57] ProfFan commented on #35
@marcrasi Thanks :) I don't quite need `class` right now, but since this is a very common use case, I think it is good to either fix or document this somewhere.

[2020-04-25 02:00] ProfFan opened #36 "Creating better solvers like LM and Dogleg"
As illustrated by our attempt in using SwiftFusion for motion planning, I discovered that the NLCG solver cannot deal with a 40-point long dynamic planning problem:
[code]

Solving this will probably need LM and dogleg.

[2020-04-25 03:01] dellaert commented on #36
Why not? Stuck in local minima?
LM is easy, then CGLS for solve

[2020-04-25 18:46] ProfFan commented on #36
@dellaert It diverged...

[2020-04-25 19:24] dellaert commented on #36
And, by “it”, you mean?

[2020-05-06 21:07] marcrasi opened #39 "g2o Reader"
I would like to benchmark SwiftFusion algorithms running on nontrivial datasets. There are some nice-looking datasets at https://lucacarlone.mit.edu/datasets/, and they are in the "g2o" format. So I'd like to write a simple g2o reader.

[2020-05-07 15:55] dan-zheng opened #41 "Use GitHub autolinks for bugs.swift.org issues"
Could someone please set up [bugs.swift.org issue autolinks for this GitHub repository](https://help.github.com/en/github/administering-a-repository/configuring-autolinks-to-reference-external-resources)?
![Screen Shot 2020-05-07 at 8 50 51 AM](https://user-images.githubusercontent.com/5590046/81316159-13a35780-9040-11ea-87cf-6e41682f9886.png)

That would allow [bugs.swift.org](https://bugs.swift.

[2020-05-07 16:08] dellaert commented on #41
@ProfFan if you have permissions please do otherwise we can do it in our meeting

[2020-05-07 16:42] ProfFan commented on #41
I don't, but you can add me as an admin for this repo I think... @dellaert

[2020-05-07 22:26] #39 closed

[2020-05-07 22:27] marcrasi opened #42 "Main issue for performance investigations"
I'll post information about performance investigations here.

[2020-05-07 23:00] marcrasi commented on #42
I ran Pose2SLAMG2O on the INTEL dataset from https://lucacarlone.mit.edu/datasets/.

Here's a flamegraph: https://storage.googleapis.com/swift-tensorflow-misc-files/flamegraphs/2020-05-07-SwiftFusion-Pose2G2O.svg

# Discussion

It's spending a lot of time doing small matrix operations in TensorFlow. The TensorFlow overhead is large relative to the small operations, so most of the time is probably

[2020-05-07 23:22] dellaert commented on #42
Am I right in concluding `transpose` is a lot of the CPU? Not used to reading the flamegraphs

[2020-05-07 23:26] marcrasi commented on #42
Yes, that's correct! And there's an easy optimization to completely eliminate that call. `matmul`, which is [called from this method](https://github.com/borglab/SwiftFusion/blob/59319421bfd84eb2efa0dfb55b493c79eaf4123d/Sources/SwiftFusion/Inference/JacobianFactor.swift#L88), has `transposed` arguments that let you replace
[code]
with
[code]

[2020-05-07 23:30] dellaert commented on #41
done

[2020-05-07 23:44] ProfFan commented on #42
Thanks Marc for the benchmarks :) I think judging from the flamegraph the TF engine seems to be doing a lot of work for the `transpose` call? I guess it's a elementwise copy (non-SIMD), but still curious on what exactly is happening under the call.

[2020-05-08 00:34] marcrasi commented on #42
The TF engine has a lot of overheads. I don't know specifically what's happening in the transpose, but in general it's something like this:
* calculate the shape of the result
* allocate space for the result and reference count the space
* indirection: the swift function builds a "tranpose op" and sends it to TF, then TF interprets the op and executes a "kernel" that does the actual work (I think

[2020-05-08 01:00] ProfFan commented on #41
@dellaert Autolinking is a GitHub Pro feature, I think you (admin of the organization) need to apply for a free education Pro subscription for @borglab in GitHub education...

[2020-05-08 01:16] marcrasi opened #45 "Ideal manifold definition experience"
In parallel with the discussion on https://github.com/borglab/SwiftFusion/pull/37, I'm curious what everyone thinks the ideal pie-in-the-sky experience for defining a manifold looks like.

https://github.com/borglab/SwiftFusion/pull/37 is constrained by today's Swift AD API, but it would be very realistic to soon make improvements to the AD API that allow something better.

Here's my initial idea:

[2020-05-08 01:17] marcrasi commented on #45
One crazy idea: In principle, we should be able to derive `localCoordinates` from `retract`. So maybe the user doesn't have to specify `localCoordinates`.

[2020-05-08 02:05] dellaert commented on #45
I like this very much.

[2020-05-08 02:07] dellaert commented on #45
That might be hard to do efficiently. Also, regarding derivatives: sometimes we really want to provide our own, as they make use of some simplification that the compiler might not figure out.

[2020-05-08 02:17] ProfFan commented on #45
I think in Swift automatic implementation of stuff can always be overridden, so if we need performance we can just override that particular function, and let others stay automatic.

[2020-05-09 10:14] marcrasi commented on #42
I switched things from `Tensor` to an array-backed `Vector` type and it got a lot faster. The time it takes to do 200 CGLS iterations on the INTEL dataset went from 90sec to 0.1sec.

I still need to clean things up and document them before it's ready for a PR, but here's a draft commit: https://github.com/borglab/SwiftFusion/commit/3e36e82d358a4e8e2f36140bd6bb88ac53deb6f5

Here's the new flamegrap

[2020-05-09 18:12] dellaert commented on #42
Well, that certainly has the right directionality :-)

[2020-05-12 00:54] #6 closed

[2020-05-12 00:55] ProfFan commented on #21
Closing (please reopen if you think this should not be closed :)

[2020-05-12 00:55] #21 closed

[2020-05-12 00:56] ProfFan commented on #11
@marcrasi Should we close this?

[2020-05-12 00:57] ProfFan commented on #41
bump @dellaert

[2020-05-12 01:37] dellaert commented on #41
I looked and I don't think I can. It's a student benefit.

[2020-05-12 01:38] ProfFan commented on #41
@dellaert https://classroom.github.com/help/upgrade-your-organization

[2020-05-12 01:40] dellaert commented on #41
Note that we qualify as "for academic purposes"

[2020-05-12 02:02] marcrasi commented on #11
Yeah!

[2020-05-12 02:02] #11 closed

[2020-05-12 14:52] dellaert commented on #42
FYI, on my mac:
![image](https://user-images.githubusercontent.com/10515273/81707519-b55ee600-943e-11ea-8d1c-77a40eecbbda.png)

[2020-05-12 15:17] #12 closed

[2020-05-12 15:17] #28 closed

[2020-05-12 15:21] ProfFan commented on #42
I just did a profile of Pose3SLAM, it seems that most of the time is used in the initialization of Tensors (`Tensor.init()`, 14s/16s total), the tensor ops actually only uses a fraction of the runtime.

[2020-05-12 15:23] ProfFan commented on #41
I think we should qualify, as they also provide free Team subscription for NGOs and nonprofits... Anyway this is optional :\

[2020-05-12 15:24] ProfFan commented on #9
I think we are already there!

[2020-05-12 15:24] #9 closed

[2020-05-12 15:28] ProfFan opened #51 "Implement Noise Models"
Currently we are assuming a Unitary noise model in all out factor graph implementations. Need to add one to the factors so we can solve more complicated problems :)

TODO:
- [ ] Add rudimentary noise model (Gaussian)
- [ ] Change the GFG and NLFG to accept additional noise model
- [ ] Update the examples

[2020-05-12 15:31] marcrasi opened #52 "Replace Tensor<Double> with Matrix3x3 in Rot3"
Matrix3x3 is faster because it will have no heap allocation and no TensorFlow overhead.

As mentioned in https://github.com/borglab/SwiftFusion/issues/42#issuecomment-627413240, this is currently the main bottleneck for Pose3Slam.

[2020-05-12 15:33] marcrasi commented on #42
This makes sense, `Tensor.init()` does heap allocations and `Tensor.init()` is called a lot of times in the inner loop of linearization for Pose3/Rot3. In principle, this should be very easy to solve by replacing `Tensor` with `Matrix3x3`. (`Matrix` would improve things a bit over `Tensor`, but it still has a heap allocation for the array). I have filed https://github.com/borglab/SwiftFusion/issue

[2020-05-12 15:34] dellaert commented on #51
I would argue this is less important at this time. Timeline/milestones doc coming soon.

[2020-05-12 15:55] marcrasi commented on #51
I think this would be quite nice because it'll allow us to compare apples-to-apples the results and performance of our implementation to other implementations like https://github.com/borglab/gtsam/blob/develop/examples/Pose2SLAMExample_g2o.cpp.

[2020-05-12 15:56] dellaert commented on #51
I agree it needs to be done at one point. But for the apples-apples, we can also just use unit noise models in GTSAM :-)

[2020-05-12 16:01] marcrasi commented on #42
# Slowness from heap allocations and dictionary lookup

I can confirm that it is important to minimize heap allocations and dictionary lookups in our inner loop. Evidence:
* [Here's a flamegraph](https://storage.googleapis.com/swift-tensorflow-misc-files/flamegraphs/2020-05-12-SwiftFusion-Pose2G2O.svg) for Pose2SLAM on the INTEL dataset at current master. Lots of time is spent on allocation/initia

[2020-05-12 16:06] dellaert commented on #42
Methinks our data-oriented design discussion might have a large influence on this.

[some relevant slides that I have not parsed in any depth :-)](https://meetingcpp.com/mcpp/slides/2018/Data-oriented%20design%20in%20practice_Nikolov_MeetingCpp18.pdf)

[2020-05-12 16:08] marcrasi commented on #42
Yeah, this is, I think, very related to data-oriented design. I haven't read any of the related work you mentioned during the meeting yet. I'll go read them now and also those slides.

[2020-05-12 16:19] dellaert commented on #42
Yeah, esp. http://optlang.org/ should be insightful. We are threading two graphs here: autodiff graph and sparse problem graph.

[2020-05-12 17:57] marcrasi commented on #42
optlang is very cool. I'm just a few pages into the paper, and I'm already seeing some interesting ideas that could make the SwiftFusion API _very_ different, in a good way.

Idea: The only "fixed" thing is the generic concept of a nonlinear least squares problem. There are multiple concrete representations of the problem. Depending on your concrete problem and depending on what algorithms you wan

[2020-05-12 18:59] ProfFan commented on #42
I agree with that (actually that is exactly what Opt and similar "optimization DSLs" are doing: decoupling **abstract** representation of data with its **in memory** representation :)

These talks are great! (BTW I also love 80x24 terminals, haha)

Yeah I also think we can implement a container-like thing that offers the same API but uses a *raw* storage backend. (like a memory pool allocator in C

[2020-05-12 19:28] dellaert commented on #42
Excellent, I’m loving this discussion, and he will I will watch the talks. I think we may be able to undo some of the mistakes that were made in GTSam, because we did not know better at the time.

The one thing we need to absolutely keep is the factor graph abstraction. This is strictly more general than least-squares solving. For example, we can solve a sudoku, by making the factors constraints.

[2020-05-12 19:33] ProfFan commented on #10
Added one using the G2O reader @marcrasi created: https://colab.research.google.com/drive/1R0hbs8agGYlEPAMU-OITrT8W6c9bBozz?usp=sharing

[2020-05-12 20:31] marcrasi commented on #42
Interesting, thanks for these examples, I will think about them.

Based on this, I'd argue that the general abstraction we should start with is a "Factor Objective" which is a function from "Variables" to "Factor Errors". Perhaps the objective also has a notion of "total error" and "feasibility".

What's _not_ included in the "Factor Objective" abstraction:
* Any notion of graph.
* Any notion of b

[2020-05-12 20:33] marcrasi commented on #42
My favorite way of designing something like this is iteratively building up the abstract protocols and concrete structs together. Today we have some concrete structs already! I'm about to make a PR suggesting a slight abstraction over them.

[2020-05-12 21:25] dellaert commented on #42
I like FactorObjective as a protocol, if not its name :-) I think "Factor" would be nice ! Similarly, why not just make the other protocol "FactorGraph". One of the requirements would be that it has an "error", which we could make float, reserving infinity for infeasible configurations.

This has the danger of being religious/subtly, but I don't love "Objective", as it subtly shifts the emphasis a

[2020-05-12 21:59] nidegen opened #54 "Documentation and goal"
Cool Stuff. I found it while thinking of creating a Kalman filter using Differentiable Swift. Is that something this repo is also aiming for?

Differentiable is only available in S4TF, but I guess SwiftFusion is aimed to be for General Swift in the future, right?

A bit of documentation would be nice:)

[2020-05-12 22:19] dellaert commented on #54
SwiftFusion is inspired by GTSAM, which has a KF (and much much cooler stuff), so, indeed KFs and IEFKs and the like will be part of this.

Still very much in flux so extensive docs are probably too ephemeral at this point.

[2020-05-12 22:24] ProfFan commented on #42
I'll add my two cents here: I agree with Frank that one of the reasons why Opt is fast is by getting rid of the sparse matrix representation of LS problems (though not completely, as the notion of Jacobian is still there), and replace these into implicit representations, the Jacobian can be computed on GPU ad-hoc, saving a lot of memory bandwidth and ops. I consider the factor graph scheme to be s

[2020-05-12 22:28] ProfFan commented on #42
Also, an interesting read would be https://stanford.edu/~boyd/papers/pdf/abs_ops.pdf

Boyd is one of the biggest names in optimization :-\

[2020-05-13 01:50] marcrasi commented on #42
This conversation has become very interesting. Would you like to have a call some time tomorrow so that we can discuss a bit more efficiently? I'm free any time after 2pm Eastern time?

I'll also keep responding here in github because I can't wait to keep talking :)

---

I agree that "objective" has some unnecessary connotations, let's remove it.

I agree that `LinearLeastSquaresObjective` is a t

[2020-05-13 02:48] marcrasi commented on #42
This is cool. I've started reading it.

I notice that the "Forward-Adjoint Oracle" is very similar to `DecomposedAffineFunction`:
* `applyLinear` is the "algorithm for evaluating f"
* `applyLinearDual` is the "algorithm for evaluating f*"
* `bias` is doesn't exist in FAO because FAO is for linear, not affine, functions.

[2020-05-14 17:03] nidegen commented on #54
Cool! Makes sense.

Looking forward for more Swift in Robotics. Would be nice if a linAlg lib standard like Eigen would emerge. Also, the swift package manager is much nicer than catkin 😁 (But of course Differentiable is the best)

[2020-05-15 16:46] marcrasi commented on #10
Those are really cool! Let's keep collecting links to notebooks in this issue. I'll unassign myself since clearly I'm not really working on this :)

[2020-05-15 19:59] dellaert commented on #10
That is pretty awesome! Note G2O is the file format here, but naming the colab with G2O in the name might cause confusion, as G2O is another inference toolbox.

[2020-05-15 19:59] dellaert commented on #10
Should we not check those notebooks into the repo as well? Colab has GitHub integration...

[2020-05-15 20:01] ProfFan commented on #10
I changed the name to `SwiftFusion Pose2SLAM Demo (Public).ipynb`

I think we can check them in to the docs folder, I'll do it shortly

[2020-05-15 22:18] ProfFan opened #59 "PlanarSLAM Example"
As discussed, I will make a PlanarSLAM Example this week to drive the protocol development.

[2020-05-20 18:25] #59 closed

[2020-05-24 19:18] ProfFan commented on #52
As #68 is merged, the next step would be making the generic version of MatrixN

[2020-05-24 19:27] ProfFan commented on #52
@marcrasi Could you change the G2O Reader a bit and add the ability to read in the Pose3 dataset [here](https://github.com/HeYijia/GraphSLAM_tutorials_code/blob/master/g2o_test/data/sphere_bignoise_vertex3.g2o)? I tried and it seems to be a bit too convoluted for me...

[2020-05-24 19:49] dellaert commented on #52
tl;dr As commented on in PR #68 I believe there is value in seeing a matrix as an array of column vectors. You can also see it as an array of co-vectors corresponding to rows, but that is less common. matvec is then taking the linear combination of the columns.

Long version:

Because I like types, I actually prefer to think about tensors, where each dimension can be "contravariant" or "covariant"

[2020-05-24 23:33] marcrasi commented on #52
Yeah!

Interesting. We used to have separate `TangentVector` and `CotangentVector` types in Swift AD. The differentials dealt with `TangentVector` and the pullbacks dealt with `CotangentVector`. Then we removed the distinction because it just added more complexity with no benefit for any use cases that we had at the time. (gradient decent in flat euclidean spaces for deep learning)

[2020-05-26 19:40] ProfFan commented on #51
Per #69, this has become a necessity as all g2o benchmarks in 3D have noise models

[2020-05-26 19:44] ProfFan commented on #36
I think the result from the manipulation demo and #69 reveals the necessity for a trust region. For example in #69, the CGLS error decreases 10x while the non-linear error explodes.

[2020-05-27 21:25] marcrasi commented on #52
Update on my progress: I've been thinking about vectors and matrices. I think it's actually more important to get these working well before getting the generic factor graph working. A lot of pieces of factor graphs are generic over vectors and matrices, so we should understand our vectors and matrices pretty well before we put them inside factor graphs.

I have some ideas how to express fixed-size

[2020-05-29 21:21] ProfFan commented on #36
Just tried some more datasets. I'll post all experiments to a notebook.

Appears the non-convergence in `sphere_extremenoise` is due to the dataset having too much variation in the noise model that cannot be handled by the current design.

Benchmarks:

- `garage.g2o`: `436365859791.0 ns` (436s)

[2020-05-29 22:28] dellaert commented on #36
SE-Sync? What about GTSAM?

[2020-05-29 22:30] dellaert commented on #36
PS cool figs in notebook but a bit hard to follow. Consider adding some text cells with explanation.

[2020-05-29 22:58] ProfFan commented on #36
I found the SE-Sync repo [here](https://github.com/david-m-rosen/SE-Sync) with both dataset and timing, so I just compared against the time on their paper

Thanks for the suggestion! Will do.

[2020-05-29 23:03] ProfFan commented on #36
@marcrasi I pushed the very rudimentary WIP to branch [feature/lm](https://github.com/borglab/SwiftFusion/tree/feature/lm), if you have time can you do a profile on `Pose3SLAM`? Profiling with XCode seems to be broken because of https://bugs.swift.org/browse/TF-748

[2020-05-30 02:20] ProfFan commented on #36
Here is a timing for the optimization process for the `sphere2500` dataset. It is very clear that we are doing a ton of heap allocation and deallocation.

Brief:
![image](https://user-images.githubusercontent.com/5358374/83317415-72509100-a1fa-11ea-841a-ca5c9457e549.png)

Detail:
![image](https://user-images.githubusercontent.com/5358374/83317401-4cc38780-a1fa-11ea-8cef-507cbeb7ee6e.png)

[2020-06-12 19:16] ProfFan opened #81 "Using TensorBoard.dev for the benchmarks"
Before we can use tensorboard.dev, we need to figure out how to write the tensorboard format in Swift, as unlike comet.ml in tensorboard.dev we do not have REST APIs for uploading data.

[2020-06-12 19:20] marcrasi commented on #81
Are there Python libraries that can write these formats? If so, one quick way to get started would be to import those using Swift's Python interop.

[2020-06-12 19:20] ProfFan commented on #81
@marcrasi Great point, I'll browse around and see :)

[2020-06-12 19:39] ProfFan commented on #81
Tested this one: https://github.com/KrakenCL/KrakenKit and it seems to be perfect for our usage

[2020-06-12 20:11] shabalind commented on #81
`swift-benchmark` is one step away from supporting JSON output (https://github.com/google/swift-benchmark/pull/43).

Once it is merged one can do something along the lines:

1. Create a python wrapper that invokes swift benchmarks as a subcommand with `--format json` flag.
2. Consume JSON output from subprocess.
3. Call the python-based APIs to report it to the dashboarding service (e.g. TensorBoa

[2020-06-12 20:17] ProfFan commented on #81
@shabalind Wow this seems to be pretty straightforward :) Also appears to be better in integrating into the current GTSAM benchmarks. Will try shortly.

Thank you very much for the suggestion! @shabalind

[2020-06-12 20:30] shabalind commented on #81
@ProfFan Happy to help! 😃

[2020-06-13 01:34] ProfFan commented on #36
@marcrasi When implementing LM there is a damping term implemented previously by adding additional terms in the linearized factor graph:
[code]

However, in the new implementation I found it non-trivial to access the dimensions of the underlying types. Is there a recommended way to implement a similar behavior?

[2020-06-13 02:10] marcrasi commented on #36
We'll need some good API for iterating over all the values and doing something with them (such as getting their dimension and constructing a corresponding jacobian). I think this is should be possible, and this is a good use case to help design that, thanks!

But you can also achieve this iteration today, without a nice API. An array of jacobians is quite similar to the array of (`zeroTangentVecto

[2020-06-13 03:24] ProfFan commented on #36
@marcrasi Thanks for the suggestions! I tried to implement something like this:
[code]
But it seems that `differentiableValue` here is a tree structure?

[2020-06-13 03:58] marcrasi commented on #36
Cool, that's pretty close to getting the dimension at runtime. The last step would be to add something like `static var tangentDimension: Int` to [AnyDifferentiableStorage](https://github.com/borglab/SwiftFusion/blob/2bad66c21d6f38c4bd98a45b4ce4e38d390e1db3/Sources/SwiftFusion/Inference/ValuesStorage.swift#L23). There's also a bunch of boilerplate in a few protocols and extensions below that where

[2020-06-15 18:59] marcrasi opened #86 "bee tracking application"
An application that uses the new generic factor graph APIs

Some resources:
* Here's the [bee tracking example](https://github.com/borglab/SwiftFusion/blob/1cb35dd806a81a97fd58cdfb50ad3fb962c9edec/Sources/SwiftFusion/Speed/GenericFactorGraph.swift#L440) from the prototype. The factor graph APIs are all different now, so most of it will have to be rewritten.

[2020-06-15 19:01] marcrasi commented on #86
@dellaert would you be interested in doing this as a way to start playing with Swift? I'm happy to answer questions, have a pair coding session with you, or do anything that would help :)

[2020-06-16 03:44] dellaert commented on #86
Yes. Coding session on wed? Grab an hour :-)

[2020-06-17 02:15] marcrasi opened #88 "Pose3SLAM benchmark nondeterministic"
I noticed that the Pose3SLAM benchmark gives me different final losses every time that I run it. As far as I know, all the computations should be deterministic.

We should get to the bottom of this because it might indicate a bug. For example, the generic factor graph datastructure uses unsafe memory operations, and we might be reading uninitialized memory somewhere.

[2020-06-17 21:32] marcrasi commented on #81
@ProfFan, how is the benchmarking going? Do you need any help with anything? Would you be interested in having a meeting with @shabalind to discuss swift-benchmark features that could help?

[2020-06-17 22:00] ProfFan commented on #81
@marcrasi I looked at google/swift-benchmark#43 and it's not merged? Should we meet today? I have 3 meetings tomorrow :(

[2020-06-17 22:43] marcrasi commented on #81
How about Monday? I sent a proposed time in a calendar invite. @shabalind is in Europe and therefore probably not available for the rest of today.

I'm wondering if swift-benchmark currently has enough features to track the things that you want to track in the benchmarks. Have you investigated that? For example, I saw your benchmarks had things like a plot of error vs time and I don't see anything

[2020-06-17 23:14] ProfFan commented on #81
I see the problem. I think I got sidetracked somehow, as our "benchmark" is actually "tracing", not "benchmarking". I think a meeting is still valuable, as we can discuss the possibility of adding such a functionality in `swift-benchmark`.

I'll just move the current Comet.ml code to use https://github.com/KrakenCL/KrakenKit for now and make sure that I have the benchmarks ready by our meeting tom

[2020-06-18 13:25] shabalind commented on #81
Just a small update: google/swift-benchmark#43 is on its way to be merged by the end of the week.

[2020-06-18 20:09] shabalind commented on #81
https://github.com/google/swift-benchmark/pull/43 is merged!

[2020-06-18 21:02] ProfFan commented on #88
I agree on that, and I observed that for some difficult datasets, the nonlinear loss sometimes go to `nan` which indicates possibly a division-by-zero or something. I suspect a impl error in our Pose3 but I am not super sure. Is there a way to raise an exception when we have `nan`?

[2020-06-18 21:51] marcrasi commented on #88
I don't think there's an automatic way to do this.

Manually adding checks to the initializers of all our math types might be a good approach though. It seems like this would catch problems close to where they occur. The check should probably use a function that we define that is controlled by an `#if` flag -- `assert` isn't suitable because it gets disabled in `-O` mode and I thing we'll want to

[2020-06-24 01:51] dellaert opened #96 "Swifty MCMC and python iterop"
We should think/talk about MCMC algorithm API and tfp interop.

@marcrasi says:

As a direct translation of the Python API, the current API looks right to me. If you want to go this direction, then that sounds good to me!

---

The "Swifty" way can make some things a lot nicer so I'll describe a "Swifty" idea here to tempt you :)

The `TransitionKernel` looks like an infinite [Sequence](https://de

[2020-06-24 03:57] ProfFan opened #97 "Remove old implementation and rename NewFactorGraph, etc."
Since we have moved entirely to the new FG impl, we should remove the old impl and reduce our code enterprise.

Pinging @dellaert @marcrasi for comments :)

[2020-06-24 12:08] dellaert commented on #97
Sure

GitHub <notifications@github.com> wrote:
“

Since we have moved entirely to the new FG impl, we should remove the old impl and reduce our code enterprise.

Pinging @dellaert@marcrasi for comments :)

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.”

[2020-06-24 16:52] marcrasi commented on #97
Yeah!

There are some tests of the old stuff that would be nice to migrate to the new stuff instead of deleting (like CGLSTests, testPlanarSLAM), so I'd suggest that we migrate those first and then delete.

We could claim bits by posting in this ticket before doing work, to avoid duplicating work.

I would like to rename all the old stuff to Old and remove the New prefix today. I'll start work on

[2020-06-24 16:54] marcrasi commented on #96
I'll add an agenda item for this to our Friday meeting!

[2020-06-25 16:30] ProfFan opened #100 "Retrieving Factors from a Factor Graph"
I am currently porting the Chordal initialization from GTSAM (which is the last step to the comparison benchmark) but I think I have a problem: after loading the G2O file we have a FG that we need to extract the between factors from.

The pseudo code looks like:
[code]

@marcrasi Is there a quick solution to this? Thank you very much in advance :)

[2020-06-25 17:25] marcrasi commented on #100
Here is a thing that does what I think you need: https://github.com/borglab/SwiftFusion/pull/101 !

Let me know if you need it to do anything else :)

[2020-06-25 20:23] ProfFan commented on #100
@marcrasi Yeah sorry to bother you again but I think I need to manually construct a GFG now (similar to the old GFG interface). I remember we dealt with this partially in #83 , but that one is only for scalar Jacobians in LM.

[2020-06-25 20:30] marcrasi commented on #100
Do you have everything that you need to construct the `JacobianFactor`s that go into the GFG? If so, then the only other thing you need is a `store` method on `GaussianFactorGraph` that lets you add them. I can add that pretty easily.

[2020-06-25 20:32] marcrasi commented on #100
If you're working with concrete types, then I think it should be pretty easy to construct the `JacobianFactor`s using [this initializer](https://github.com/borglab/SwiftFusion/blob/0ea0bfd28dc1daa1234927430934fc87d500efb7/Sources/SwiftFusion/Inference/JacobianFactor.swift#L40).

It's harder to do this in a generic context. I think we can build something eventually that lets you do it, but it would

[2020-06-25 21:05] ProfFan commented on #100
Yeah I just need to add some JacobianFactors with a 9x9 Jacobian. Let's start with the concrete way first.

[2020-06-26 01:27] ProfFan opened #105 "Subscripted View for Fixed-Sized Matrices and Vectors"
When implementing the chordal initialization I found out that it is almost essential that we have:
1. a mutable, subscripted view into the fixed-size matrices;
2. methods like `MatrixN.zero` and `MatrixN.identity`.

Otherwise I end up writing code like this:
[code]

Moreover, it becomes almost impossible to write code when I try to implement SVD for 3x3 rotation matrices as I cannot write stuff li

[2020-06-26 02:26] marcrasi commented on #105
These operations sound good to me!

We've talked a lot about the ideal fixed size matrix and I think we still haven't figured it out yet, but that shouldn't stop us from having a quick and dirty implementation that supports all the operations you need. I think I could have one ready in a few hours.

[2020-06-26 02:59] ProfFan opened #106 "[RFC] Allowing storage of an value in VariableAssignments with specific Key"
Historically in GTSAM (and in old SwFusion) we have a system where we use a single number to represent a variable. This has its disadvantages, but it makes association of data from different stages of optimization easy.

We should be able to do similar thing in the new implementation, or should we?

[2020-06-26 03:31] marcrasi commented on #106
Yes this sounds important and doable.

For performance, it is important to keep the consecutive `TypedID`s under the hood but there can be a `Dictionary` somewhere that maps custom `Key`s to `TypedID`s. The APIs could be arranged so that the `TypedID`s are usually hidden and users only need to deal with them if they want fastest random access. Like:
[code]

There are a few ways this can be impleme

[2020-06-26 12:35] dellaert commented on #106
Newbie question: If it’s important to keep consecutive, then why is Int part of the type?

FWIW I love the typed ids. I always wanted to do this in GTSAM, and in fact we have a symbol class that approximates it. Fan, is it not easy to just create a local function x:Int-> TypedId<Pose,Int> to create pose keys, etc?

One use case that I do think is important is time stamps : some users use system ti

[2020-06-26 12:56] ProfFan commented on #106
Yes, but then we will need to have boilerplate :)

[2020-06-26 16:28] marcrasi commented on #106
No good reason. I want to remove it soon.

[2020-06-26 21:45] marcrasi opened #109 "pretty printing variable assignments and factor graphs"
Pretty printing for `VariableAssignments`, `FactorGraph`s, and `GaussianFactorGraph`s would be very convenient for debugging.

I have created a commit demonstrating a simple case for each one of those types: https://github.com/borglab/SwiftFusion/commit/aabded934c49ef32e03387775f0dd3ed733859f5

cc @saeta

[2020-07-07 00:40] marcrasi opened #114 "map/reduce algorithms for heterogeneous arrays"
We already have multiple algorithms defined on arrays of factors and arrays of variable values that may be implementable in terms of map or reduce algorithms:
* [`errorVectors(at x: VariableAssignments)`](https://github.com/borglab/SwiftFusion/blob/37139c5baa12656dd4440696985d4d591ac6e36f/Sources/SwiftFusion/Inference/FactorGraph.swift#L82) is almost `factors.map { $0.errorVector(at: x) }`.
* [`li

[2020-07-07 05:08] marcrasi opened #115 "better indexing for heterogeneous arrays"
We have many operations that "map" a heterogeneous array through a function that transforms elements. (See https://github.com/borglab/SwiftFusion/issues/114 for some examples).

The heterogeneous arrays have a `var storage: [ObjectIdentifier: Something]` field that stores their elements. There are two ways that the map operations could produce the `storage` for the resulting heterogeneous arrays:

[2020-07-07 05:24] marcrasi opened #116 "help keeping track of variable ids"
Sometimes you have a "name" for a variable when you create it, and you want to easily go between the "name" and the variable's `TypedID`. Examples:
* https://github.com/borglab/SwiftFusion/pull/108 -> `ChordalInitialization.swift` -> `solveOrientationGraph`: This takes a factor graph `g` as input and constructs a corresponding "unconstrained chordal graph" that has one variable per variable in `g`

[2020-07-08 03:33] ProfFan commented on #42
So, I finally matched the error terms between GTSAM and SwiftFusion, and here are the latest benchmark results:
<img width="567" alt="Plots_27_0" src="https://user-images.githubusercontent.com/5358374/86871916-2fab8f80-c0a9-11ea-8536-de92059db6a5.png">

I think Chordal still has some discrepancy against GTSAM, so definitely need to investigate. I am speculating on the ClosestTo method, but need to

[2020-07-08 12:22] dellaert commented on #42
Awesome work! My bet would be on LM being different, as we discussed.
Perhaps to allow Marc and Dave to concentrate on performance, can you time the inner linear solving step and the linearization separately? Also, you should probably ensure only one thread is used in both cases.

[2020-07-08 13:24] ProfFan commented on #42
@dellaert Sure thing, I'll try benching the inner loop. BTW, yes, we are using only one thread in both configurations.

[2020-07-08 17:33] marcrasi commented on #42
Cool graphs! Do you have instructions for generating them so that I can quickly see how perf optimizations show up on these graphs?

[2020-07-08 17:35] marcrasi commented on #42
Also I'm curious: What linear solver are the GTSAM runs using?

[2020-07-08 17:50] ProfFan commented on #42
@marcrasi It's the sequential Cholesky solver (a direct solver). I pushed all results and scripts to generate these graphs to https://github.com/ProfFan/expmap-benchmark, however you will also need the prebuilt wheels of GTSAM in different configurations in https://github.com/borglab/gtsam-manylinux-build/branches (the CI artifacts)

[2020-07-08 18:15] dellaert commented on #42
Ah, that also explains some things! Can you do PCG with Jacobi also? How do they compare? Again it will be important to choose the *exact same* convergence criteria on both sides of the "aisle", to make sure we're not timing the convergence criterion but rather the solve.

[2020-07-08 18:21] marcrasi commented on #42
For perfectly comparable results, you'll need to do PCG with DummyPreconditioner because I haven't gotten to implementing the Jacobi preconditioning in Swift yet. (I intend to do that after simplifying the matrix boilerplate, because the preconditioning involves some linear algebra that will be much easier when there is an easy way to manipulate matrices.)

[2020-07-08 18:33] ProfFan commented on #42
I wanted to but haven't got time, probably will do next week

[2020-07-09 17:43] ProfFan commented on #42
Need some new figs:
1. Dummy & Jacobi in GTSAM (should get same iterations as SwFusion)
2. CGLS(=Dummy) in SwiftFusion (should give exactly same numbers as in GTSAM)

[2020-07-09 18:35] marcrasi commented on #114
Oh I forgot to mention the reduce-like one: [`errorVectors_linearComponent_adjoint(_ y: AllVectors)`](https://github.com/borglab/SwiftFusion/blob/8ebe27a6f2adbed47e2653acef91937071461607/Sources/SwiftFusion/Inference/GaussianFactorGraph.swift#L84) is like `factors.reduce(zero) { (r, factor) in r + factor.errorVector_linearComponent_adjoint(y) }`.

[2020-07-10 22:07] marcrasi commented on #97
Here's my proposal for coordinating work on this.
1. First, let's migrate/delete all the test files. As we do this, let's delete library code that becomes unused.
2. Next, let's do a final pass through all the library code and migrate/delete anything that we missed while doing the tests.

To coordinate work on the tests, put your name next to any test files you want to work on. Then check them off

[2020-07-10 22:11] marcrasi commented on #97
Question for @ProfFan: We're not really using SGD and NLCG for anything right now. Should we just delete those instead of migrating them? I ask because they are using vectors in a way that makes my linear algebra work a bit harder, so it would be really convenient to eliminate them for now. We can bring them back, implemented in terms of the new stuff, if/when we ever need them.

[2020-07-10 22:14] ProfFan commented on #97
@marcrasi Sure!

[2020-07-15 03:28] ProfFan opened #119 "Conversion between FixedSizeMatrix and Jacobian"
Consider the following test:
[code]
`actual.jacobian` is `Array6<Tuple1<Vector6>` and I is `Array6<Vector6>`, so the assertion cannot compile.

@marcrasi  Any thoughts? Thanks in advance :)

[2020-07-15 03:56] ProfFan commented on #119
Currently I am doing this (toxic) trick:
[code]

[2020-07-15 04:20] marcrasi commented on #119
One thing you could do is `let I = FixedSizeMatrix<Array6<Tuple1<Vector6>>>.identity`, which makes it have the same type as the jacobian.

[2020-07-15 04:31] marcrasi commented on #119
There's not a similar trick for constructing an `.identity` that works with `JacobianFactor`s with multiple jacobians (e.g. `Tuple2`, `Tuple3`, ...). If you need to do that, the best I can think of would be to construct the whole expected jacobian explicitly:
[code]

The APIs for dealing with stuff like clearly need improvement. Maybe it's possible to make the public field of the `JacobianFactor`

[2020-07-15 13:18] ProfFan commented on #119
This works great :)

Yeah I think something like `.jacobians[0]` would be great!

[2020-07-16 18:07] marcrasi commented on #114
Also possibly relevant: A few weeks ago I experimented with eliminating `ensureUniqueStorage()` from `add` and `scale` in `AnyArrayBuffer where Dispatch: VectorArrayDispatch`. This gave a 5-10% performance boost in the benchmarks, but it was a lot of extra code. I thought that a generic "in place map" might be able to handle this, so I decided to wait until we investigated that possibility before

[2020-07-18 04:01] dabrahams opened #131 "”scalar“ is a bad name for a variable or parameter"
Describe the role, not the type!  e.g.

[code]

should be:

[code]

[2020-07-18 18:19] dabrahams opened #132 "Rename "EuclideanVectorN" to "FixedSizeEuclideanVector""
Descriptive and consistent

[2020-07-20 05:38] marcrasi opened #133 "Issue for talking about the bee data"

[2020-07-20 05:48] marcrasi commented on #133
I downloaded the bee data from https://www.cc.gatech.edu/~borg/ijcv_psslds/ and tried training a very simple UNet on it. I manually annotated all the bees in a single frame from a single video, and used that as the training data.

Here are predictions from videos that it never saw during training:

![download (1)](https://user-images.githubusercontent.com/5945760/87903683-71c1c300-ca11-11ea-9fd2-e

[2020-07-20 17:31] dellaert commented on #133
Very cool! Reading a bunch of tracking papers now, will add papers to shared folder and track reading a Google doc

[2020-07-20 18:06] dellaert commented on #133
OK, I took an hour to seed the document and folder. I think the Li19cvpr paper is very interesting, encourage others to read and its antecedents. @ProfFan @dabrahams @marcrasi

[2020-07-21 18:17] marcrasi commented on #133
Thanks! I'll be reading the papers. I'm going to start a "glossary" doc in the folder because the papers are using a lot of standard datasets, evaluation metrics, nn architectures, etc, that I have never heard of and it would be nice to have the definitions collected in one place.

[2020-07-21 18:24] dellaert commented on #133
Great. I read and added a bunch more papers last night and today. This might be overkill: most SOTA work is focused on *generic* object tracking, whereas we are tracking only one animal, more or less just rotating and translating. But it’s good to get a sense of the literature. Just added 2 bee tracking papers from the same group that apparently never read our papers :-(

[2020-07-21 18:53] dabrahams commented on #133
But we'll show them, by reading *theirs*!

On Tue, Jul 21, 2020 at 11:25 AM Frank Dellaert <notifications@github.com>
wrote:

--
-Dave

[2020-07-23 01:23] marcrasi commented on #133
I have cleaned up the code so that it's more understandable and usable.

Repo: https://github.com/marcrasi/DeepBeeTracking (but maybe we should make it a repo in borglab or just move the code into SwiftFusion?)

The repo has a readme explaining how to run training and inference on the UNet. Here is [the model]() and [the training loop]().

But the UNet is just an example, and the dataset loading i

[2020-07-24 02:40] ProfFan commented on #100
Already solved

[2020-07-24 02:40] #100 closed

[2020-07-24 22:42] dabrahams opened #142 "Rename `Vector` to `EuclideanVector` everywhere"
The apparent (but non-existent) distinction is confusing.

[2020-07-25 04:05] dabrahams opened #143 "Nondeterministic test"
Coulda sworn I reported this already, but I just saw:
`
/Users/dabrahams/src/SwiftFusion/Tests/SwiftFusionTests/MCMC/MCMCTests.swift:41: error: -[SwiftFusionTests.MCMCTests testRWM1DUniform] : XCTAssertEqualWithAccuracy failed: ("0.0") is not equal to ("0.22251686301618953") +/- ("0.17")
Test Case '-[SwiftFusionTests.MCMCTests testRWM1DUniform]' failed (0.115 seconds).
`
It's not reproducible reli

[2020-07-25 04:06] dabrahams commented on #96
While we're in this area, consider #143

[2020-07-25 15:14] dellaert commented on #143
That would be great. But apparently the built in Random can't be seeded, and solutions I saw on the web involved GameKit, which I assume is only available on Apple devices. Ideas?

[2020-07-27 21:13] marcrasi commented on #142
Ack. I think I'm actually going to rename `EuclideanVector` to `Vector` everywhere, which should also address the issue of the non-existent distinction.

[2020-07-27 21:14] dabrahams commented on #142
I'm a little concerned about that.  Can we discuss it?

On Mon, Jul 27, 2020 at 2:13 PM marcrasi <notifications@github.com> wrote:

--
-Dave

[2020-07-27 21:24] marcrasi commented on #142
We had a call. We agreed that "Euclidean" is so much the default that you expect from a vector that it's kinda confusing to have `EuclideanVector` written everywhere. So we'll call it `Vector`. If we do ever need a generalized vector, we can name it something like `GeneralizedVector`.

[2020-07-27 21:40] dabrahams commented on #143
Make the code generic on thing-conforming-to-RandomNumberGenerator (or take
an existential of type RandomNumberGenerator) and pass an instance of this
PRNG:
https://github.com/saeta/penguin/blob/7ca880f1aab119bf9f456f2d6ffe8bbda987e682/Sources/PenguinStructures/PCGRandomNumberGenerator.swift

On Sat, Jul 25, 2020 at 8:14 AM Frank Dellaert <notifications@github.com>
wrote:

--
-Dave

[2020-07-27 23:00] dellaert commented on #142
I fully agree :-)

[2020-07-29 20:26] #142 closed

[2020-07-29 23:32] marcrasi commented on #132
https://github.com/borglab/SwiftFusion/pull/147 has turned everything into `Vector`.

[2020-07-29 23:32] #132 closed

[2020-07-30 18:08] marcrasi opened #151 "Vector `*` should work with scalar on right hand side"
Right now we only support the scalar on the left hand side, which is inconvenient.

[2020-08-03 20:46] marcrasi opened #152 "remove as many dependencies on "fixed size vectors" as possible"
I'm about to make a PR that removes most dependencies on "fixed size vectors", but some of the changes would be better in a separate small PR, so here's a tracking issue for removing those.

[2020-08-07 22:43] dabrahams commented on #143
Fixed by #158

[2020-08-08 02:56] dabrahams opened #159 "FixedSizeVector and FixedSizeMatrix are named too consistently"
one being a protocol and the other a generic type will lead to confusion.

[2020-08-12 18:20] marcrasi commented on #159
I want to remove the "FixedSize" part of the name because there's no reason why it can't work for dynamically sized collections and vectors. (Though some of the methods rely on the fixed sizedness now so they will need to be changed first.)

Maybe `s/FixedSizeMatrix/MatrixView/`, since it views a collection of vectors as a matrix?

[2020-08-18 17:44] dellaert opened #169 "Warning on XCode 11"
Aug 18 master:

[code]

[2020-08-18 20:11] #169 closed

[2020-08-19 20:27] dabrahams opened #174 "testGtsamPose3SLAMExampleChordal takes too long for day-to-day testing"
26 seconds really slows down the edit/test/debug cycle.  If we need to run a test this big I suggest checking for a special command line argument and only running it when passed, or something.

[2020-08-19 21:30] ProfFan commented on #174
@dabrahams  I think we could try reducing the number of iterations and find a lowest number of iters to make it converge

[2020-08-19 23:27] dabrahams commented on #174
If we make it deterministic by using only PRNGs, mightn't it be enough to check that the error follows some prescribed pattern for the first N iterations, rather than testing it all the way to convergence?

[2020-08-19 23:53] ProfFan commented on #174
Yeah I agree, I can put this on my TODO :)

[2020-08-20 23:09] marcrasi opened #177 "`Vector`'s `Scalars` should always have one element per scalar in the vector"
For example, the `ArrayBuffer` "zeroValue" of an n-dimensional array should have `.scalars.count == n`.

[2020-08-21 00:59] dabrahams opened #178 "Add tests for Vector.zeroValue"
Once #167 lands…

[2020-09-03 14:37] dabrahams opened #179 "Consider adding `set` accessor for every `_modify` accessor"
Swift will then use the `set` accessor for direct assignments and only use the `_modify` accessor for other mutations, which could be a performance win.

c.f. saeta/penguin#117

[2020-09-03 23:38] dabrahams commented on #143
This is an issue again :(

[code]

[2020-09-03 23:41] dabrahams commented on #143
Testing at d1f56aa1 with `while swift test --filter MCMC; do echo ; done` reveals that it wasn't entirely fixed by the earlier commit.  There's still some nondeterminism in there.

[2020-09-03 23:52] dabrahams commented on #143
Oh, that was easy to find on inspection.  But now the test always fails if we apply the fix in #180.  Assigning to Frank, who wrote the test.

[2020-09-16 23:35] marcrasi opened #184 "AnyArrayBuffer fails vector semantics tests"
The vector semantics tests (which I am about to update in https://github.com/borglab/SwiftFusion/pull/167) fail on `AnyArrayBuffer` with:

[code]

(It doesn't give me a useful stack trace on my system, so no stack trace.)

[2020-09-17 03:22] ProfFan opened #185 "Latest master failed to compile in Notebook"
[code]
[code]

@marcrasi Appears to be a breaking change in Penguin?

[2020-09-17 03:34] ProfFan commented on #185
Strange, can only reproduce with nightly toolchain...

[2020-09-17 03:36] ProfFan commented on #185
Also when running the `Bee Tracking` colab:
[code]

[2020-09-17 18:30] marcrasi commented on #185
Looking!

[2020-09-17 19:46] marcrasi commented on #185
The bee notebook (https://colab.sandbox.google.com/drive/18uJvXwxSrahnqv16dVEwt66_qaOZVgp1) works for me, on both the latest nightly toolchain and the stable 0.11 release. (But not the tracking section, which looks like it hasn't been updated for the new bee videos yet).

Does it still break for you? Maybe try deleting the `swift-install2` cache? Maybe some dependency had a problem that got fixed

[2020-09-17 23:46] ProfFan commented on #185
@marcrasi Maybe it's resolved now, let's close this :) Thanks for the investigation!

[2020-09-17 23:46] #185 closed

[2020-09-19 01:00] ProfFan commented on #143
Solved in #180, yay :)

[2020-09-19 01:00] #143 closed

[2020-09-30 15:11] ProfFan opened #190 "Possible GPU Memory Leak?"
The notebook cannot be run with GPU S4TF because of constant OOM when calculating the loss. It appears that GPU memory is filled after
[code]

[code]

However when I look at the device of the Tensors, they are all on the CPU:
[code]

For now I'll just use the CPU-only version of S4TF instead as a workaround.

[2020-10-02 18:36] ProfFan commented on #190
Closing as this is upstream issue

https://github.com/tensorflow/swift-apis/issues/1089
https://github.com/tensorflow/swift-apis/issues/1094

[2020-10-02 18:36] #190 closed

[2020-10-15 16:47] ProfFan opened #194 "Colab (Hosted Runtime) failed to compile SwiftFusion"
However, my local runtime using latest release (`RELEASE-0.11-rc2`) works.

SwiftFusion tag is `d9153d9ef93d25010a8089bedd70fa766424359f`.

[code]

[2020-10-16 18:29] ProfFan commented on #194
I can reproduce this with an empty Swift project with the following `Package.swift`

[code]

@saeta @dabrahams @marcrasi Need some advise :)

[2020-10-20 18:38] marcrasi commented on #194
Looking!

[2020-10-20 23:11] #194 closed

[2020-10-22 19:13] dellaert opened #196 "Vector in wrong place?"
https://github.com/borglab/SwiftFusion/blob/4ae925cd2759e4fccc7578c076cb4f71f782b003/Sources/SwiftFusion/Core/FixedSizeMatrix.swift#L403

Seems Vector extension is misplaced in FixedSizeMatrix.swift? At least, I was surprised to find it there :-)

[2020-10-22 19:20] ProfFan commented on #196
It's a fileprivate (not exposed) helper for easy implementation of Matrix operations (see the comments)

[2020-10-22 19:36] dellaert opened #197 "Tuple+Vector.swift"
This file could some minimal documentation :-)

https://github.com/borglab/SwiftFusion/blob/4ae925cd2759e4fccc7578c076cb4f71f782b003/Sources/SwiftFusion/Core/Tuple%2BVector.swift#L1

[2020-10-23 13:57] dellaert commented on #54
FWIW, I updated the readme file with a bit of an overview. Still needs some tutorial.

[2020-10-23 13:58] dellaert commented on #196
OK, makes sense

[2020-10-23 13:58] #196 closed

[2020-11-08 00:54] dellaert opened #207 "TF test fails on Xavier platform"
There was one test in feature/box_scaling that failed for me on Xavier NX:

[code]

Might be related to the infinity?

[2020-11-08 00:56] dellaert commented on #207
PS passes fine on Mac

[2020-11-08 15:01] ProfFan commented on #207
[code]

For me on Linux as well, I think it is very likely to be related to CUDA.

CC @marcrasi @BradLarson is this precision-related?

[2020-11-10 00:01] BradLarson commented on #207
That test is trying to take `log(0)`, which seems like a bad thing to be testing for. I wouldn't be surprised to have that break in different ways on different platforms. Maybe having the range start at 1 would be a safer lower value?

[2020-11-10 03:32] ProfFan commented on #207
I think it is still perfectly valid to assume `-inf==-inf` since that is guaranteed by the IEEE754 standard I think. I could be wrong so please correct me if not :)

[2020-11-10 14:15] dellaert commented on #207
I agree with @BradLarson

[2020-11-15 03:45] dellaert opened #222 "make toplevel directory an argument"
in OIST database loading

[2020-11-16 14:40] dellaert opened #237 "Fix MV Gaussian and GaussianNB"
Add regularizer to hyper parameters

[2020-11-22 15:18] dellaert commented on #237
Done

[2020-11-22 15:18] #237 closed

[2020-11-22 15:18] dellaert commented on #222
done by Fan

[2020-11-22 15:18] #222 closed

[2020-11-22 15:22] dellaert opened #241 "SwiftFusion on Mac Issue"
I installed latest development toolchain (Nov 17), and using latest Xode Version 12.2 (12B45b), which I pointed to the toolchain.

But even before that, I cannot generate the project, as it complains about Benchmarks package
[code]
@ProfFan @marcrasi , help? We did *something* the last time this happened, but I forget what, and this probably needs a different fix.

[2020-11-22 23:24] ProfFan commented on #241
This can be solved by changing Penguin. Let me put a PR there.

[2020-11-24 01:40] ProfFan commented on #241
#242 should make everything work :) Please test @dellaert

[2020-11-24 18:58] ProfFan commented on #241
I just updated to Big Sur and confirm that everything works with XCode 12.2 release and 0.12 toolchain. You will need the following workaround (only once after install):
[code]

[2020-11-24 22:01] dellaert commented on #241
I still have
[code]

[2020-11-24 22:25] ProfFan commented on #241
@dellaert Please try the following:
1. Make sure that you have XCode 12.2 Release or 12.2 Beta 3
2. Make sure you have latest toolchain by re-downloading the 0.12 toolchain on the S4TF GitHub
3. Remove `.build`
4. Make sure you have latest `feature/ppca` by `git pull`
5. `export PATH=/Library/Developer/Toolchains/swift-tensorflow-RELEASE-0.12.xctoolchain/usr/bin:$PATH`
6. `sudo install_name_tool -

[2020-11-25 00:56] ProfFan commented on #241
Additional Note:

If you have a problem where XCode is trying to build ARM64, follow the following picture:
![image](https://user-images.githubusercontent.com/5358374/100168342-1310c800-2e8f-11eb-8d10-71941ec777c4.png)

Change `Excluded Architectures` to `arm64` and everything should work flawlessly.

[2020-11-27 14:49] dellaert commented on #241
I did everything except instead of 0.12 I used the 11-17 development snapshot. I got this error:
[code]

[2020-11-27 14:52] dan-zheng commented on #241
Jumping in: I have some experience with Swift and Xcode on macOS. Happy to call if you'd like to chat, send me a calendar invite.

[2020-11-27 15:07] dellaert commented on #241
Cool, left you a chat msg, G-side

[2020-11-29 14:03] dan-zheng commented on #241
Follow-up: we figured out @dellaert's problem! It's because he had the wrong Xcode Command Line Tools selected.

You can fix that via Xcode's GUI:

<img src="https://user-images.githubusercontent.com/5590046/100543477-73e92900-321e-11eb-8bbf-f63c65947555.png" width=60%>

Or via the command-line:
[code]

---

You may also encounter weird build issues related to Swift project shenanigans. A _clean b

[2020-12-01 18:31] marcrasi opened #250 "Renaming "master" branch"
Could we create a "main" or "develop" branch and delete the "master" branch? I don't have the necessary admin permissions to do so myself :)

[2020-12-03 04:17] ProfFan commented on #250
Sure, I can do that.

[2020-12-03 04:21] ProfFan commented on #250
Done :)

[2020-12-03 04:21] #250 closed

[2020-12-12 20:45] dabrahams commented on #184
Fixed in 65277751785d4308a64881c5a13928ce3d2748e2

[2020-12-12 20:45] #184 closed

[2020-12-12 20:48] dabrahams opened #254 "A bunch of constraints to AnyVectorArrayBuffer are too strict"
There are constraints on many `AnyArrayBuffer where Dispatch == VectorArrayDispatch` that really should be  `AnyArrayBuffer where Dispatch: VectorArrayDispatch`.  I couldn't get it to compile at the time but now that we have more parts working maybe we can figure out how to change these.  Many are interrelated so one might need to change them all at once.

[2020-12-12 21:04] dabrahams commented on #254
Maybe it has to do with:

[code]

that `typealias` forces all tangent vectors of `Differentiable`-conforming `AnyArrayBuffer<D>`s to be exactly `AnyArrayBuffer<VectorArrayDispatch>`.

Instead we want something like:

[code]

Of course, that's not expressible in the language today; you need to use the `protocol AnyArrayBufferProtocol` hack to create the equivalent constraint.

[2020-12-12 21:17] dabrahams opened #255 "TypeKeyedArrayBuffers should take more advantage of its use of InsertionOrderedDictionary"
Currently it does a bunch of key lookups when it can now rely on (and only verify) the fact that keys will be ordered the same way in two dictionaries.

[2020-12-14 14:16] dellaert opened #256 "main does not compile on XCode/M1"
For fun, without it expecting to work, I did try compiling main on my new M1 Mac Mini, Latest Xcode 12.2 (12B45B) from App Store. Results below:

![image](https://user-images.githubusercontent.com/10515273/102091576-011aa900-3ded-11eb-88cd-0e2ececdbbe8.png)

[2020-12-14 14:20] dan-zheng commented on #256
Thanks for sharing! I wonder what are the compilations errors?

[2020-12-15 18:58] dellaert commented on #256
@dan-zheng
seems to be a segmentation fault.

CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'SwiftFusion' from project 'SwiftFusion')
    cd /Users/dellaert/git/SwiftFusion
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX11.0.sdk

[2020-12-15 23:49] dabrahams opened #258 "Documentation about how to get a stock toolchain that works with this project"
Now that #251 has landed, it would be great to update the README with instructions, on each platform, for acquiring a toolchain that works for this project.

[2020-12-16 19:38] marcrasi commented on #258
Here's the first prebuilt stock toolchain that should work with this project: https://storage.googleapis.com/s4tf-kokoro-artifact-testing/prod/s4tf/toolchain-ubuntu-docker/dev-stock-ubuntu18.04/11/20201216-031245/swift-tensorflow-DEVELOPMENT-stock-ubuntu18.04.tar.gz

In the next week or two we'll start publishing toolchains and instructions that work on more platforms.

[2020-12-16 21:55] dabrahams commented on #258
But is that information written down anywhere publicly, e.g. in the README?

On Wed, Dec 16, 2020 at 11:39 AM marcrasi <notifications@github.com> wrote:

--
-Dave

[2020-12-16 22:09] marcrasi commented on #258
No, but it's not ready for that yet. I'm still working on automating builds of the toolchains and making sure that everything works with them, so I don't think they should be in the README for a bit longer.

[2021-01-11 12:20] dan-zheng opened #261 "Rewrite usages of compiler-synthesized `Differentiable.zeroTangentVector`"
Protocol requirement `Differentiable.zeroTangentVectorInitializer` and computed property `Differentiable.zeroTangentVector` are being removed in https://github.com/apple/swift/pull/35329 as a simplification.

"Per-instance zeros" are no longer a concept, there is only the "static universal zero" `TangentVector.zero` for all tangent vector types.

There are some updates of `Differentiable.zeroTange

[2021-01-16 10:49] dan-zheng commented on #261
Does anyone (especially Georgia Tech Students like @acoadmarmon) have time to look into this?

That would be a huge help! Help from you on issues like this would also be great empirical evidence that SwiftFusion can scale!

[2021-01-17 14:16] dan-zheng commented on #261
Unless folks (like @acoadmarmon) have time to look into this issue today, I will look into it! It unblocks https://github.com/apple/swift/pull/35329.

I'm happy to do work like this from time to time, but I wouldn't want to be the only "line of defense" as I'm not strictly a SwiftFusion code owner. It would be nice to discuss some process for prioritizing and distributing issues like this in the f

[2021-01-17 14:25] acoadmarmon commented on #261
Hey Dan! This is on my to do list for tomorrow if it can wait until then.

[2021-01-17 14:33] dan-zheng commented on #261
That would be splendid! Thanks bunches Andrew :) <sub>make MLKJ proud</sub>

[2021-02-17 00:53] #241 closed

[2022-06-03 04:07] philipturner opened #274 "Removing swift-apis or s4tf/s4tf dependency"
Keeping this off the [Swift Forums thread](https://forums.swift.org/t/ongoing-work-on-differentiable-swift/57780/4) to prevent from polluting it. The Cholesky and SVD operators used by SwiftFusion have been troubling me for a while, and it would be awesome if I could remove them from S4TF. I don’t know whether it’s possible to remove the entire dependency to S4TF. But if you could at least substit

[2022-06-03 04:08] philipturner commented on #274
CC: @ProfFan